{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome-Story8</title>
        <link rel="stylesheet" href= {% static "css/styles.css" %}>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $(document).ready(function() {
            $(function() {
                $("#accordion" ).accordion({
                    header: ".card-head"
                });
            });
        });


        function moveUp(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.previousSibling);
        }

        function moveDown(elementId) {
            e = document.getElementById(elementId);
            e.parentNode.insertBefore(e, e.nextSibling.nextSibling);
        }


        </script>
    </head>

    <body>
    <div id="accordion">

        <div id="card-a">
            <div class="card-head">
                <h3 class="card-title" style="color: #b3b3ff;">Profile</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-a')">^</div>
                    <div class="button_down"  onclick="moveDown('card-a')">v</div>
                </div>
            </div>

            <div>
              <p>
               My name is Yolanda Wintari S. I was born in Bogor, 14th October 2001
              </p>
            </div>
        </div>

        <div id="card-b">
            <div class="card-head">
                <h3 class="card-title" style="color:#00e6b8;">Current activities</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-b')">^</div>
                    <div class="button_down" onclick="moveDown('card-b')">v</div>
                </div>
            </div>

            <div>
                <p>
                I am currently studying Computer Science in Universitas Indonesia
                </p>
            </div>
        </div>

        <div id="card-c">
            <div class="card-head">
                <h3 class="card-title" style="color:#ff99dd">Hobbies</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-c')">^</div>
                    <div class="button_down"  onclick="moveDown('card-c')">v</div>
                </div>
            </div>
                
            <div>
              <p>
                 I like to play with cats, read books and listening to music.
              </p>
            </div>
        </div>

        <div id="card-d">
            <div class="card-head">
                <h3 class="card-title" style="color:#80ff80">Education</h3>
                <div class="button_holder">
                    <div class="button_up" onclick="moveUp('card-d')">^</div>
                    <div class="button_down" onclick="moveDown('card-d')">v</div>
                </div>
            </div>

            <div>
                <p>
                    I studied in SD Santa Lusia for my elementary schhol, SMP Marsudirini for my junior highschool, and SMAN1 Bekasi for my senior highschool.
                </p>
            </div>
        </div>
    </div>
    </body>
</html>
