.card-head {
    overflow: hidden;
}

.card-title {
    float: left;
    vertical-align: middle;
    font-size:35px;
    font-family: 'Aclonica';

}

.button_holder {
    float: right;
    margin-right: 50px;
}

.button_up {
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    color: green;
}

.button_down {
    padding: 10px;
    cursor: pointer;
    font-size: 32px;
    color: red;
}

p{
    font-family: 'Adamina';
    font-size: 25px;
}

